@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  padding-left: 20px;
}

.links :hover {
  color: #ff0000;
}
